# Dependencies
node_modules/

# Builds
dist/
build/
.next/
out/

# Turborepo
.turbo/

# Environment
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
*.swp

# Prisma
*.db
*.db-journal
apps/api/generated/

# Misc
coverage/
*.tsbuildinfo
